################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserMorph.Api/.vs/UserMorph.Api
/UserMorph.Api/bin/Debug/net6.0
/UserMorph.Api/obj
/DataMorph.Services/obj
/DataMorph.Core/obj
/DataMorph.Core/bin/Debug/net6.0
/DataMorph.Services/bin/Debug/net6.0
